.top-bar {
  display: flex;
  flex-direction: row;
  height: 52px;
  border-bottom: solid 1px #c0c0c0;

  margin-bottom: 16px;

  .hamburger {
    display: none;
  
    @media (max-width: 768px) {
      display: block;
    }
  }  
}
