rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Publishers/{publisher} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
      allow write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.admin == true;
    }

    match /Repports/{repport} {
      allow read, write: if request.auth != null && exists(/databases/$(database)/documents/Users/$(request.auth.uid))
        && get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
    }

    match /Groups/{group} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
      allow write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.admin == true;
    }

    match /Users/{user} {
      allow read, write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
    }

    match /Notifications/{notification} {
      allow read, write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true
    }

    match /Submissions/{submission} {
      allow write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.admin == true;

      allow read: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
    }

    match /Config/{config} {
      allow write: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true &&
        request.auth.uid == config;

      allow read: if request.auth != null &&
        exists(/databases/$(database)/documents/Users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.validated == true;
    }
  }
}
