.auxilary {
    background-color: var(--ds-background-information) !important;
    color: var(--ds-text);
}

.averrage {
    background-color: var(--ds-background-discovery-bold) !important;
    color: var(--ds-text);

    td {
        color: #fff !important;
        &:nth-child(1) {
            padding-left: 4px !important;
        }
    }
}

.first-report {
    background-color: var(--ds-background-accent-teal-subtle) !important;
    color: var(--ds-text);
}

.null-report {
    background-color: var(--ds-background-danger);
    color: var(--ds-text);
}

.inactive-report {
    background-color: var(--ds-background-warning);
    color: var(--ds-text);
}
