@import "bootstrap/scss/bootstrap";
@import "@atlaskit/css-reset/dist/bundle.css";

div#root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .groups-panel {
    margin-left: 16px;
  }

  .login-box {
    height: fit-content;
    width: fit-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .message-bar-container {
      width: fit-content;
      height: fit-content;
      margin: 16px 16px 16px 0;
    }
  }
}
