@import "bootstrap/scss/bootstrap";
@import "@atlaskit/css-reset/dist/bundle.css";

main {
  display: flex;
  flex-direction: column;
  background-color: var(--ds-surface);

  .groups-panel {
    margin-left: 16px;
  }

  .login-box {
    height: fit-content;
    width: fit-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
