.app-main-container {
    background-color: var(--ds-surface);
}

.progress-bar-container {
    width: 300px;
    height: fit-content;
    position: fixed;
  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    margin: auto;
  }

.panel {
    display: flex;
    flex-direction: row;

    .top-row {
        display: flex;
        flex-direction: row;
    }

    .main {
        width: 100%;

        .content {
            width: calc(100% - 32px);
            margin-left: 16px;
            margin-right: 1px;
        }
    }
}
