.app-main-container {
    background-color: var(--ds-surface);
}

.progress-bar-container {
    width: 300px;
    height: fit-content;
    position: fixed;
  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    margin: auto;
  }