/* You can add global styles to this file, and also import other style files */
.flex-expand { flex: 1 1 auto; }

.app-main-container {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 16px;

  .sidenav {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  
  @media (max-width: 768px) {
    .sidenav {
      display: none;
    }
  }
}

.buttons {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;

  display:flex;
  flex-direction: column;

  .register-hint {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }
}

.stats-card {
  display: flex;
  flex-direction: column;
  color: #000;

  h5 {
    margin-bottom: 4px;
  }

  div {
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 8px;;
  }
}

@media (max-width: 600px) {
  .stats-card {
    flex-direction: column;
    width: 100%;

    div {
      margin-bottom: 12px;
    }
  }
}

.navbar {
  background: #00227b;
}

html, body, #root, div[data-testid="content"], div[data-layout-container="true"] {
  height: 100%;
}

.publisher-name-group {
  display: flex;
  flex-direction: row;

  .icons {
    margin-right: 16px;
  }
}

.navigation-back-button {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  padding: 12px;

  &:hover {
    background-color: #ccc;
  }
}
